.nav-link {
    color: black;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: orangered;
  }
  /* styles/headercss.css */

.dropdown-item:hover {
  background-color: orangered; /* Change this to the desired orange color */
}
